<% @title="sailnote" %>
<div class="page_identifier" id="new_session"></div>
<div class="signin_form">
  <%= form_for(:session, url: sessions_path) do |f| %>
    <%= f.text_field :username, :placeholder => '    username', class: 'signin_input' %>
    <%= f.password_field :password, :placeholder => '    password', class: 'signin_input' %>

    <%= f.submit "login", class: 'signin_submit' %>
  <% end %>
</div>
<!-- <a class="hero_blog_wrapper" href="/johnsy"><b style="font-family:courier;font-size: 20px;">example:</b><br> "A Glimpse of Human Nature"<br><b>by kennyt</b></a> -->

<div class="essaii_big">
  <div class="sailboat_icon"></div>
  <!-- <div class="below_big"><br>express your thoughts in brief notes<br></div> -->
</div>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="user_form">
  <div class="word_join">start writing</div>
  <%= form_for(@user) do |f| %>

    <%= f.text_field :username, :placeholder => '    username', class: 'form_input' %>
    <%= f.password_field :password, :placeholder => '    password', class: 'form_input' %>
    <%= f.password_field :password_confirmation, :placeholder => '    password again', class: 'form_input' %>
    <%= f.submit "create", class: 'form_submit' %>
  <% end %>
</div>