<%= link_to 'ii', root_path, :class => 'essaii_corner' %>
<div class="cover-box"><img src="<%= @user.image_banner %>" style="top:<%= @user.image_top_margin %>;"></div>

<div class="archive">
  <div class="archive-header">
  	<%= @user.username %>
  	<%= link_to 'posts', user_path(@user), :class => 'archive_button' %>
  	<% if current_user && current_user == @user %>
  		<%= link_to "edit about", '/about/'+@user.username+'/edit', :class => 'archive_button' %>
  	<% end %>
		<% if current_user %>
			<% if @user == current_user %>
				<div style="opacity:.7;font-size:14px;"><%= @email_follower_number %> email followers</div>
			<% else %>
				<span class="email_call">
					<input class="email_input" placeholder="subscribe by email"></input>
					<button class="submit_email_button" data-user="<%= @user.username %>">follow</button>
				</span>
			<% end %>
		<% else %>
			<span class="email_call">
				<input class="email_input" placeholder="subscribe by email"></input>
				<button class="submit_email_button" data-user="<%= @user.username %>">follow</button>
			</span>
		<% end %>
  </div>
	<div class="about_text">
	  <% if @user.about && @user.about.length > 0 %>
	  	<%= h(@about.html_safe) %>
	  <% else %>
	  	Empty
	  <% end %>
	</div>
</div>

<script>
	$('.cover-box img').css({'width': screen.width})
</script>