<br><br><br>
<% @posts.each do |post| %>
	<a style="margin-left:32%;font-size:25px; color:black; font-family:source sans pro; text-decoration:none;line-height:1.7;" href="/<%= post.user.username %>/<%= post.url %>"><%= post.title %><span style="opacity:.45; margin-left:25px;font-size:22px;">by <%= post.user.username %></span><span style="opacity:.2; margin-left:25px;font-size:22px;"><%= distance_of_time_in_words(Time.now - post.created_at) %></span></a><br>
<% end %>