<% @posts.each do |post| %>
	<a style="margin-left:32%;font-size:25px; color:black; font-family:source sans pro;" href="/<%= post.user.username %>/<%= post.url %>"><%= post.title %> - <%= post.user.username %> - <%= distance_of_time_in_words(Time.now - post.created_at) %></a><br><br>
<% end %>