<%= link_to 'essaii', root_path, :class => 'essaii_corner' %>
<div class="archive">
  <div class="archive-header">
  	<%= @user.username %>
  	<%= link_to "about", about_path(@user), :class => 'archive_button' %>
  	<% if current_user && current_user == @user %>
  		<%= link_to "new post", new_post_path, method: "get", :class => 'archive_button' %>
  		<%= link_to "logout", session_path, method: "delete", :class => 'archive_button' %>
  	<% end %>
  </div>

  <% if current_user && current_user == @user %>
	  <span class="post_list_header">drafts (dates = last time updated)</span><br>
	  <% @unpublished_posts.each do |post| %>
	      <span class="essay-date"> <%= post.updated_at.strftime("%0d %b %y") %></span>
	      <span><%= link_to post.title, '/'+post.user.username+'/'+post.title.gsub(' ','-'), class: 'essay-title' %></span>
	      <br>
	  <% end %>
	  <br>
	  <span class="post_list_header">published (dates = time published)</span><br>
	 <% end %>

  <% @published_posts.each do |post| %>
  <span class="essay-date"> <%= post.created_at.strftime("%0d %b %y") %></span>
      <span><%= link_to post.title, '/'+post.user.username+'/'+post.title.gsub(' ','-'), class: 'essay-title' %></span>
      <br>
  <% end %>
</div>