<%= link_to 'essaii', root_path, :class => 'essaii_corner' %>
<div class="cover-box"><img src="<%= @user.image_banner %>" style="top:<%= @user.image_top_margin %>;"></div>

<% if current_user && @user == current_user %>
	<div class="change_image_button">change pic</div>
	<div class="image_insert"><input class="submit_image_url" placeholder=" paste image url to change banner" data-username="<%= current_user.username %>"></input></div>
	<div class="imgur_text">upload to <a class="text_link" href="http://imgur.com" target="_blank">imgur</a> to get url</div>
	<!-- <div class="move_image_button">move your banner up/down</div> -->
<% end %>


<div class="archive">
  <div class="archive-header">
  	<%= @user.username %>
  	<%= link_to "about", about_path(@user), :class => 'archive_button' %>
  	<% if current_user && current_user == @user %>
  		<%= link_to "new post", new_post_path, method: "get", :class => 'archive_button' %>
  		<%= link_to "logout", session_path, method: "delete", :class => 'archive_button' %>
  	<% end %>
		<% if current_user %>
			<% if @user == current_user %>
				<div style="opacity:.7;font-size:14px;"><%= @email_follower_number %> followers</div>
			<% else %>
				<span class="email_call">
					<input class="email_input" placeholder="subscribe by email"></input>
					<button class="submit_email_button" data-user="<%= @user.username %>">follow</button>
				</span>
			<% end %>
		<% else %>
			<span class="email_call">
				<input class="email_input" placeholder="subscribe by email"></input>
				<button class="submit_email_button" data-user="<%= @user.username %>">follow</button>
			</span>
		<% end %>
  </div>

	<div class="post_list">
	  <% if current_user && current_user == @user %>
		  <span class="post_list_header">drafts (dates = last time updated)</span><br>
		  <% if @unpublished_posts.count > 0 %>
			  <% @unpublished_posts.each do |post| %>
			  		<span class="post_line">
				      <span class="essay-date"> <%= post.updated_at.strftime("%0d %b %y") %></span>
				      - <span><%= link_to post.title, '/'+post.user.username+'/'+CGI.escape(post.title.gsub(' ','-').downcase), class: 'essay-title' %></span>
				    </span>
			      <br><div style="height:4px;"></div>
			  <% end %>
		  <% else %>
		  	<span style="font-family:PT Serif Caption; font-size: 12px;">Empty</span>
		  <% end %>
		  <br>
		  <span class="post_list_header">published</span><br>
		 <% end %>

		 <% if @published_posts.count > 0 %>
		  <% @published_posts.each do |post| %>
		  	<span class="post_line">
		      - <span><%= link_to post.title, '/'+post.user.username+'/'+CGI.escape(post.title.gsub(' ','-').downcase), class: 'essay-title' %></span>
			  	<span class="essay-date"> <%= post.published_date.strftime("%0d %b %y") %></span>
			  	<% if current_user && current_user == @user %>
			  		<span class="view-count"><%= post.hits %> views</span>
			  	<% end %>
			  </span>
	      <br><div style="height:4px;"></div>
		  <% end %>
	  <% else %>
	  	<span style="font-family:PT Serif Caption; font-size: 12px;">Empty</span>
	  <% end %>
	</div>
</div>

<script>
	$('body').on('click', '.change_image_button', function(){
		$('.image_insert').show()
		$('.imgur_text').show()
		$('.submit_image_url').focus();
		$(this).hide();
	})

	$('body').on('keyup','.submit_image_url', function(){
	  	var link = $('.submit_image_url').val();
	  	if (link.length > 7){
	  		var username = $(this).attr('data-username');
		  	$.post('/'+username+'/update_pic',{
		  		link: link
		  	}, function(response){
		  		if (response['yes'] == '1'){
		  			$('img').attr('src',link)
		  			$('.change_image_button').show()
		  			$('.image_insert').hide()
						$('.imgur_text').hide()
						$('.submit_image_url').val('')
		  		}
		  	})
		  }
	  })

	$('body').on('click','.submit_email_button', function(){
		var email = $('.email_input').val();
		var user = $(this).attr('data-user')
		$.post('/'+user+'/add_email_follower', {
			email: email
		}, function(response){
			if (response['yes'] == '1'){
				$('.email_call').html('done')
			}
		})
	})

	$('.cover-box img').css({'width': screen.width})
</script>