<%= form_for :post, url: post_path(@post), method: :put do |f| %>
  <p>
    <%= f.text_field :title, {class: 'edit-title', datatitle: @post.title.gsub(' ', '-'),  :placeholder => 'Title goes here.', data_author: @post.user.username} %>
  </p>
 
  <p>
    <%= f.text_area :text, :placeholder => 'Body goes here.', class: 'edit-box' %>
  </p>
 
  <p>
    <%= f.submit 'save', {class: 'edit-submit', datasubmit: '1', data_id: @post.id}%>
  </p>
<% end %>
<% if @post.errors.any? %>
  <div id="post_error">
    <div class="alert alert-error">
      The form contains <%= pluralize(@post.errors.count, "error") %>.
    </div>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="edit_legend">
	<div class="edit_legend_header">Text styling:</div><br>
	<div class="edit_legend_text">
		**example** = <b>example</b><br>
		*example* = <i>example</i><br>
		[example](http://www.example.com) = <a class="text_link" href="http://www.example.com">example</a>
	</div><br>
	<span class="hide_legend">Show Styling Instructions</span>
</div>
<div class="save_success">saved!</div>
<%= link_to 'I\'m done', '/'+@post.user.username+'/'+CGI.escape(@post.title.gsub(' ','-').downcase), class: 'edit_back_button' %>

<script>
	$('.edit-box').focus();
	$('.edit-box').autosize();

	$('.edit_legend_text').hide();
	$('.edit_legend_header').hide();
	$('body').on('click','.hide_legend', function(e){
		if ($('.edit_legend_text').attr('style') == 'display: none;'){
			$('.edit_legend_text').show();
			$('.edit_legend_header').show();
			$('.hide_legend').html('Hide')
		} else {
			$('.edit_legend_text').hide();
			$('.edit_legend_header').hide();
			$('.hide_legend').html('Show');
		}
	})

	$('body').on('click','.edit-submit',function(ev){
		if ($(this).attr('datasubmit').length){
			ev.preventDefault();
			ev.stopPropagation();
			var user = $('.edit-title').attr('data_author');
			var title = encodeURIComponent($('.edit-title').attr('datatitle').toLowerCase());
			$.post('/'+user+'/'+title+'/update_post_json',{post:
			{	id: $('.edit-submit').attr('data_id'),
				title: $('.edit-title').val(),
				text: $('.edit-box').val()
			}}, function(response){
				if (response['yes'] == '1'){
					$('.save_success').show()
					$('#post_error').hide();
					var title = encodeURIComponent($('.edit-title').val().replace(/ /g, '-').toLowerCase());
					$('.edit-title').attr('datatitle', title)
					$('.edit_back_button').attr('href','/' + $('.edit-title').attr('data_author') + '/'+title)
					setTimeout(function(){
						$('.save_success').hide();
					}, 300)
				} else {
					$('.edit-submit').attr('datasubmit','');
					$('.edit-submit').trigger('click');
				}
			})
		}
	})
</script>