<div class="cover-box">
	<img src="<%= @post.user.image_banner %>" onload="verticalAlign()">
	<a class="cover-header" href="/<%=@post.user.username%>"><span><%= @post.user.username %></span></a>
</div>

<%= link_to '', root_path, :class => 'essaii_corner' %>
<% if current_user && @post.user == current_user %>
	<div class="post_text"></div>
	<%= form_for :post, url: post_path(@post), method: :put do |f| %>
	  <%= f.text_area :title, {class: 'edit-title', datatitle: @post.title.gsub(' ', '-'),  :placeholder => 'Title goes here.', data_author: @post.user.username} %>
	  <div class="the-by-line"><%= @post.created_at.strftime("%-d %B %Y")%></div>
	  <p>
	    <%= f.text_area :text, :placeholder => 'Body goes here.', class: 'edit-box' %>
	  </p>
	 
		<div class="sidebar_nav">
			<div class="instruct_highlight">ctrl + b for bold<br>ctrl + i for italics<br>highlight text for more</div>
			<div class="save_success">saved!</div>
			<%= link_to 'I\'m done', '/'+@post.user.username+'/'+CGI.escape(@post.title.gsub(' ','-').downcase), class: 'edit_back_button' %>
		  <p>
		    <%= f.submit 'save (ctrl + s)', {class: 'edit-submit', datasubmit: '1', data_id: @post.id}%>
		  </p>
		</div>
	<% end %>
<% else %>
	<div class="post_title"><%= @post.title %></div>
	<% if @post.published_date.nil? %>
		<div class="the-by-line"><%= @post.created_at.strftime("%-d %B %Y")%></div>
	<% else %>
		<div class="the-by-line"><%= @post.published_date.strftime("%-d %B %Y")%></div>
	<% end %>
	<div class="post_text">
		<%= h(@text.html_safe) %>
	</div>
<% end %>

<div class="share_buttons">
 	<% if @post.published %>
		<a class="facebook_share" href="/" target="_blank">FB Share</a>
		<a class="twitter_share" href="/" target="_blank">Tweet</a>
		<br><br><br><br>
	<% end %>
</div>
<div class="end_post_archive" data-author="<%=@post.user.username%>">
	<div class="end_post_inside">
		<%= link_to @post.user.username + "'s page", user_path(@post.user), class: 'end_user' %>
		<%= link_to "about", about_path(@post.user), class: 'end_about' %><br><br>
		<div class="end_archive_title"><%= @post.user.username %>'s archive:</div><br>
		<div class="end_list">
			<% if @archive_posts.count > 0 %>
			  <% @archive_posts.each do |post| %>
			  	<span class="post_line">
			      <span><%= link_to post.title, '/'+post.user.username+'/'+CGI.escape(post.title.gsub(' ','-').downcase), class: 'essay-title' %></span>
				  	<span class="end_essay_date"> <%= post.published_date.strftime("%0d %b %y") %></span>
				  </span>
		      <br><div style="height:5px;"></div>
			  <% end %>
		  <% end %>
		</div>
	</div>
</div>

<% if @post.errors.any? %>
  <div id="post_error">
    <div class="alert alert-error">
      The form contains <%= pluralize(@post.errors.count, "error") %>.
    </div>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

