<%= link_to '', root_path, :class => 'essaii_corner' %>
<div class="cover-box"><img src="<%= @post.user.image_banner %>" style="top:<%= @post.user.image_top_margin %>;"></div>
<!-- <div id="left_shade_column"></div>
<div id="right_shade_column"></div> -->
<div class="post_title"><%= @post.title %></div>
<div class="the-by-line"><%= @post.created_at.strftime("%-d %B %Y")%><br>by <%= link_to @post.user.username, user_path(@post.user), class: "text_link" %></div>
<div class="post_text">
	<%= h(@text.html_safe) %>
</div>

<div class="user_post_controls">
	<% if current_user && current_user == @post.user %>
		<%= link_to 'edit', edit_post_path(@post), :class => 'control_button' %><br><br>
		<% unless @post.published %>
			<%= link_to '!publish', publish_post_path(@post), method: "post", :confirm => 'Are you sure you want to publish?', :class => 'control_button' %><br><br>
		<% end %>
		<%= link_to '!delete', post_path(@post), method: "delete", :confirm => 'Are you sure you want to delete this post?', :class => 'control_button' %><br>
	<% end %>
</div>
<div class="share_buttons">
 	<% if @post.published %>
		<a class="facebook_share" href="/" target="_blank">FB Share</a>
		<a class="twitter_share" href="/" target="_blank">Tweet</a>
		<br><br><br><br>
	<% end %>
</div>
<!-- <a class="end_post_author" href="<%= user_path(@post.user) %>"><span style="position:relative;top:35px;font-size:20px;">< go to <%=@post.user.username%>'s blog</span><a> -->

<% if @post.published %>
	<div class="end_post_archive" data-author="<%=@post.user.username%>">
		<div class="end_post_inside">
			<%= link_to @post.user.username + "'s page", user_path(@post.user), class: 'end_user' %>
			<%= link_to "about", about_path(@post.user), class: 'end_about' %><br><br>
			<div class="end_archive_title"><%= @post.user.username %>'s archive:</div><br>
			<div class="end_list">
				<% if @archive_posts.count > 0 %>
				  <% @archive_posts.each do |post| %>
				  	<span class="post_line">
				      - <span><%= link_to post.title, '/'+post.user.username+'/'+CGI.escape(post.title.gsub(' ','-').downcase), class: 'essay-title' %></span>
					  	<span class="end_essay_date"> <%= post.published_date.strftime("%0d %b %y") %></span>
					  </span>
			      <br><div style="height:5px;"></div>
				  <% end %>
			  <% end %>
			</div>
		</div>
	</div>
<% end %>
<br><br><br>


<script>
	$('.twitter_share').attr('href', 'https://twitter.com/intent/tweet?url='+encodeURIComponent(document.URL)+'&text="'+$('.post_title').html()+'"')
	$('.facebook_share').attr('href','http://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL))

	if (!($('.control_button').length > 0)){
		setTimeout(function(){
			var user = $('.end_post_archive').attr('data-author')
			var title = encodeURIComponent($('.post_title').html().replace(/ /g, '-').toLowerCase())
			$.post('/'+user+'/'+title+'/increment_viewcount')
		}, 1000)
	}
	$('.cover-box img').css({'width': screen.width})

	$.each($('.post_text img'), function(i, img){
		$(img).attr('onClick','goToSource('+i+')')
		$(img).css({'max-width': $(document).width()/1.6})
		$(img).attr('onload','centerImage('+i+')');
		$(img).css({'opacity':'1'})
		centerImage(i);
	})

	function centerImage(img_index){
		var img = $('.post_text img')[img_index]
		$(img).css({'margin-left': (550 - $(img).width())/2})

		// $('#left_shade_column').css({'height': $(document).height() - 200})
		// $('#right_shade_column').css({'height': $(document).height() - 200})
	}

	$('.post_text a').attr('class','text_link')

	function goToSource(img_index){
		var src = $($('.post_text img')[img_index]).attr('src');
		window.location.href = src;
	}

	// $('#left_shade_column').css({'height': $(document).height() - 200})
	// $('#right_shade_column').css({'height': $(document).height() - 200})
	// setTimeout(function(){
	// 	$('#left_shade_column').css({'height': $(document).height() - 200})
	// 	$('#right_shade_column').css({'height': $(document).height() - 200})
	// }, 200)
</script>